{% extends 'base.html' %}

{% block body %}

    <div>
    <!-- <div style="margin-left: 25%; margin-right: 25%;"> -->
        <h2>Cart</h2>
        <hr>

        <table class="table table-hover">
            <thead class="text-center">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Total Price</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-center align-middle">
                {% for item in cart.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'products:product_detail' slug=item.product.slug %}" style="text-decoration: none;">
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" height="100" width="150">
                                {{ item.product.name }}
                            </a>
                        </td>
                        <td>
                            {{ item.product.price }}
                        </td>
                        <td>
                            {{ item.get_total }}
                        </td>
                        <td>
                            <div>
                                <button class="update-cart btn btn-sm btn-outline-primary" data-action="add" data-product="{{ item.product.pk }}"><i class="fa-solid fa-caret-up"></i></button>
                            </div>
                            <div class="fs-4">
                                {{ item.quantity }}
                            </div>
                            <div>
                                <button class="update-cart btn btn-sm btn-outline-primary" data-action="remove" data-product="{{ item.product.pk }}"><i class="fa-solid fa-caret-down"></i></button>
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex align-items-center">
            <div>
                Items: {{ cart.get_total_items }} <br>
                Total: {{ cart.get_total }}
            </div>
            <a class="btn btn-primary ms-auto" href="">Go to Checkout</a>
        </div>
    </div>

    <script>
        let updateBtns = document.getElementsByClassName('update-cart');

       for (let i = 0; i < updateBtns.length; i++){
        updateBtns[i].addEventListener('click', function(){
            let productId = this.dataset.product;
            let action = this.dataset.action;

            fetch("{% url 'orders:update_orderitem' %}",{
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({productId, action}),
                method: 'POST'
            }).then(response=>{
                return response.json()
            }).then(data=>{
                console.log(data)   
                location.reload()
            })
        });
       }

    </script>
{% endblock %}