{% extends 'base.html' %}

{% block body %}


        <h1>{{ product.name }}</h1>
        
        <div class="row mt-3">
            <div class="col-md-5">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" height="200" style="width: 75%;" class="rounded">
            </div>

            <div class="col-md-7">
                <div class="shadow rounded p-2 mb-3 bg-body-secondary">
                    <h5>Details</h5>
                    <p>
                        {{ product.description }}
                    </p>
                </div>

                <table class="table mb-3">
                    <tr>
                        <td>Name:</td>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                        <td>Available:</td>
                        <td>{{ product.quantity }}</td>
                    </tr>
                </table>

                <button class="btn btn-lg btn-primary" style="width: 100%;" type="button" id="addBtn">Add To Cart</button>
            </div>
        </div>


        <script>
            let addBtn = document.getElementById('addBtn');

            let addFunction = (event) =>{
                fetch("{% url 'orders:add_product' %}",{
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    method: 'POST',
                    body: JSON.stringify({
                        'productId': '{{ product.id }}'
                    })
                }).then(response=>{
                    return response.json()
                }).then(data=>{
                    console.log('data',data)
                    location.reload()
                })
            }

            addBtn.addEventListener('click', addFunction)


        </script>

{% endblock %}